{% extends "app/base.html" %}
{% load static %}
{% block title %} Chart page {% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'app/css/charts.css' %}">{% endblock %}

{% block content %}

{% for station, data in station_data.items %}

  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>

  <div class="chart-wrap">
    <h2>{{ station }}</h2>
    <canvas id="chart-{{ forloop.counter }}"></canvas>
  </div>
  <script>
    const ctx{{ forloop.counter }} = document.getElementById('chart-{{ forloop.counter }}').getContext('2d');
    new Chart(ctx{{ forloop.counter }}, {
      type: 'line',
      data: {
        labels: {{ data.times|safe }},
        datasets: [{
          label: 'Temperatura',
          data: {{ data.temperatures|safe }},
          borderColor: 'rgba(0, 102, 255, 1)',
          fill: false
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
{% endfor %}
  
{% endblock %}