{% extends "app/base.html" %}

{% block title %} Home page {% endblock %}

{% block content %}

<div class='container-parameters centered-box'>
  <div class="input-group mb-3">
  <span class="input-group-text">Górny próg temperatury dopuszczalnej</span>
  <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
    <span class="input-group-text">℃</span>
</div>
  <div class="input-group mb-3">
  <span class="input-group-text">Dolny próg temperatury dopuszczalnej</span>
  <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
    <span class="input-group-text">℃</span>
</div>
  <button type="button" class="btn btn-primary btn-lg d-block mx-auto custom-button">Zatwierdzić wybór</button>
</div>
{% endblock %}